/*flex shorthand 



flex: flex-grow | felx-shrink |flex-basis

flex: 2 2 100px



flex: flex-grow | flex-basis

flex:2 100px


flex: flex-grow (unitless)

flex:2

flex: flex-basis

flex:100px


*/
 












 
 
 
 #container
{
    height: 1000px;
    width: 1000px;
    background-color: azure;
    margin: 20px auto;
    border:2px solid black;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;

/* 
    flex-wrap:wrap; */

    align-items:baseline;





    align-content:baseline;





}





h1
{

    text-align: center;
}


#container div{

    height: 100px;
    width: 100px;
    /* border-radius: 50%; */
    color: white;
    text-align: center;
    font-size: 1.5  em; 
}




/* here we insteested in individual flex items(inner div)
let see orange flex item */


#org
{
    flex: 2 2 100px;
align-self:flex-start;
/* flex-basis: 300px;  
*/
}






/* flex-basis apply main axis (horzontal 
: "width" as flex-direction is row) */


#blue
{
    flex:2 100px;
  /* flex-basis: 300px ; */

}

  /* flex-basis apply main axis (horzontal 
:width as flex-direction is row) */












/* flex-grow:
it specifies how much of the flex container
 remaining space should be assigned to the 
 flex item's(for indiviual) main size(main axis  size it grow ) 

 eg :
 
 flex grow:1 (default)|2|3...any times we grow our flex items,
 
 grow is unit less measurement ;

 grow is main axis(for flexdirction:row ,main axis is horizontal (left to right)
                   for flexdirction:colmun ,main axis is vertical (top to bottom))
 
 
 */

#org
{
    /* flex-grow:3;  */
    flex-shrink:1.2;   
    /*  shrink work only there is overflow */

}
/* grows wiil be in main axis cover all available exrta space it can find */

#blue
{
/* flex-grow: 2; */
/* max-width: 100px; */
 /* min-width: 80px */
flex-shrink: 2;

}

/* but we limit how much it can grow by max-width
upto 100px only */

/* we can get minimum width "atleast"  will be there
  even slide window left to right
  min-width: 200px*/


/* like grow

it can shrink flex items when items are "overflow"
flex-shrink:1 it shrink at main axis

"same as grow" */
