<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>This is the homepage me 1+2 </h1>
    <h3> <%= ["hello","bonjour","namaste"][0] %> </h3> 

    <!-- <%= %> is interploation by embedding EXPRESSION: into marked up text so
     so make our html code dynamic. 
     
     In h1 tag 1+2 remains 1+2  but in  ( h3  1+2 evalulated as 3 dynamically )


     OR
     
     also we can have  FUNCTION OF JAVASCRIPT: "lokajay".toUpperCase()

     OR

     for ARRAY  :  "  ["hello","bonjour","namaste"][0]  " want 0th index element of array


     so,  basic Javascript  final output produce   ejs.tag  convert it into   "string"

     it is like dynamic html code

       -->
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt aperiam non voluptate minus, perferendis aspernatur hic ea sapiente reiciendis porro libero eum sed? Consequatur tempore omnis cum, obcaecati assumenda beatae?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore quaerat deleniti libero eos, quae ducimus recusandae eius fuga sit, hic aperiam laborum, cum numquam eveniet. Eligendi totam aut dolorem minus?
    </p>

    <button>click me!</button>
    
</body>
</html>