<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Dice give value :<%= num%> </h1>


    <!-- to get expression value gernerate ramndom  value from 1 to 6  
     by help of  EJS tags  <%=  %> -->


     <!--   //now diceval can access inside roldice.ejs file -->









     <!-- when dice roll 6 we print  -->
<!--   <%  %>   ejs tags is used here -->

     <% if (num == 6) {%>
     <h3>Nice ! Roll dice again</h3>
<% } %>
</body>
</html>