.chat
{
    background-color:rgb(207, 243, 243);
    padding: 20px; 
    border-radius: 16px;  
    display: inline-block   ;

}



.message
{
    background-color:dodgerblue;
    padding: 20px;
    border-radius: 16px;

}


.body
{
    margin-left: 30px;
 
}