/* div
{

    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px black dotted;
    margin: 20px 1em  40px 2em;
    padding: 1em;
} */

/* div
{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
} */


/*make all list item stand in one line  */


li{
    /* display: inline-block; */
    display: list-item;
}
/* li (list item ) has default  display:list-item
but now display is set as inline-block we oveerwrite it so
bullet point symbol disappear */
