#container
{

width: 900px;
height: 50px;
border: 2px solid yellowgreen;
background-color: pink;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content:flex-start;
align-content: center;



}


#container div
{
    width:80px;
    height:50px;
    border-radius: 10px;
    margin: 2px;


   font-size: 24px;
   line-height:50px;
   
}
