<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new chat</title>
</head>
<body>
    
    <h3> write new chat </h3>
    <form method="POST" action="/chats">
        <label for="from">From:</label>
        <input type="text" id="from" placeholder="sendername" name="from" required><br><br>

        <label for="to">To:</label>
        <input type="text" id="to" placeholder="receivername" name="to" required><br><br>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br><br>

        <button type="submit">Send Chat details</button>    
    
</body>


</html>