<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insatgram</title>
    <link rel="stylesheet" href="/style.css">
 

  <!-- <link rel="stylesheet" href="/public/style.css"> normally we use this
   
  but since we using ejs  we donot need specfic the public everyt time
  because:
   Inside the  index.js file
   
   express.static(public) is given it means by default
   Inside public  folder  all files available to EJS ,so EJS can directly 

   access the style.css 
   so,

   <link rel="stylesheet" href="/style.css">
  -->

  
</head>
</html>