h1{

    color:maroon;

}

.post{
    background-color: blanchedalmond;
}

.username{
    font-style: italic;

}
.content{

    background-color: aliceblue;
}
body{

    background-color:aquamarine;
}